body{
    width: 1440px;
    display: flex;
    flex-flow: column;
    align-self: center;
    justify-self: center;
}

.text{
    height: 124px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-self: center;
}
w{
    font-size:32px;
    color: rgb(78, 78, 78);
}
v{
    font-size: 16px;
    color:grey;
}
.tabs{
    width: 1440px;
    display: flex;
    gap: 20px;
    margin-left: 140px;
    
}
.tab{
    width: 368px;
    max-height: 366px;
    
}
.img{
    width:368px;
    height: 286px;
    background-image: url(image18.png);
    z-index: 1;
    
}
.img2{
    width:368px;
    height: 286px;
    background-image: url(image19.png);
    z-index: 1;
}
.img3{
    width:368px;
    height: 286px;
    background-image: url(image20.png);
    z-index: 1;
}
.text2{
    width: 317px;
    height: 146px;
    font-size: 20px;
    z-index: 10;
    background-color: rgb(224, 224, 224);
    justify-content: center;
    text-align: center;
    margin-left: 25px;
    margin-top: -50px;
    padding-top: 20px;
    box-shadow: 0px 10px 15px rgb(192, 192, 192);
    border-radius: 10px;
}
h1{
    color: rgb(32, 170, 32);
    font-size: 20px;
}
.niz {
    margin: auto;
    margin-top: 80px;
    height:340px;
    background-color: rgb(243, 243, 243);
    width: 1340px;
}
.global-text {
    font-size: 70px;
    text-align: center;
}
.button {
    height: 45px;
    width: 150px;
    background-color: #4CAF4F;
    margin: auto;
    border-radius: 5px;
    margin-top: -40px;
}
.p-button {
    text-align: center;
    color: white;
    padding-top: 13px;
    
}
.footer {
    background-color: #263238;
    height:340px;
    width: 1340px;
    margin: auto;
    display: flex;
    padding-top: 60px;
    gap: 250px;
}
.left img {
    width: 100%;
}
.left {
    margin-top: 30px;
    margin-left: 70px;
}
.left p{
    color: white;
    line-height: 30px;
    margin-top: 30px;
    font-size: 20px;
}
.right {
    display: flex;
    gap: 50px;
    
}
.ds h3{
    color: white;
    font-size: 30px;
}
.ds p{
    color: white;
    font-size: 20px;
    line-height: 40px;
}
.email {
    display: flex;
    width: 300px;
    height: 50px;
    background-color: #41555f;
    border-radius: 10px;
    gap: 100px;
}

.email img {
    width: 30px;
}

.email-p {
    margin-top: 4px;
    margin-left: 10px;
}