body{
    width: 1440px;
    display: flex;
    justify-self: center;
    flex-flow: column;
}

.helping {
    width: 1440px;
    height: 288px;
    background-color: #F5F7FA;
    display: flex;
    justify-items: center;
    justify-content: space-around;
}

.text0 {
    margin-top: 84px;
}

.green,.grey {
    font-weight: bold;
    font-size: 45px;
}

.grey {
    color: #4D4D4D;
}

.green {
    color: #4CAF4F;
}

.columns {
    margin-top: 64px;
    width: 540px;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
}
.column1{
    margin-bottom: 40px;
}


.number1, .number2, .number3, .number4 {
    font-weight: bold;
    font-size: 45px;
    color: #4D4D4D;
}

.members {
    width: 295px;
    height: 60px;
    margin-bottom: 40px;
}

.event {
    width: 295px;
    height: 60px;
}

.club {
    width: 295px;
    height: 60px;
    margin-bottom: 40px;
}

.payments {
    width: 295px;
    height: 60px;
}

.text1, .text2 {
    padding-left: 70px;
    color: #717171;
}

.img-left {
    float: left;
    
    height: 48px;
}