body{
    width: 1440px;
    display: flex;
    flex-flow: column;
    align-self: center;
    justify-self: center;
}
.text{
    height: 124px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-self: center;
}
w{
    font-size:32px;
    color: rgb(78, 78, 78);
}
v{
    font-size: 16px;
    color:grey;
}
.tabs{
    width: 1440px;
    display: flex;
    justify-content: space-around;
}
.tab{
    width: 368px;
    max-height: 366px;
}
.img{
    width:368px;
    height: 286px;
    background-image: url(image18.png);
    z-index: 1;
}
.img2{
    width:368px;
    height: 286px;
    background-image: url(image19.png);
    z-index: 1;
}
.img3{
    width:368px;
    height: 286px;
    background-image: url(image20.png);
    z-index: 1;
}
.text2{
    width: 317px;
    height: 176px;
    display: flex;
    flex-flow: column;
    align-self: flex-end;
    font-size: 20px;
    z-index: 10;
}
h1{
    color: greenyellow;
    font-size: 20px;
}